<!DOCTYPE html>
<html>
    <head>
        <title>Froyo Ordering</title>
    </head>
    <body>
        <h1>What is your favorite Fro-Yo flavor?</h1>
        <!-- Your HTML code goes here! -->
        <form action="/froyo_results" method="GET">
            Input flavor: <br/>
            <input type="text" name="flavor"><br/>
            What toppings you want?
            <input type="text" name="toppings"><br/>
            <input type="submit" value="Submit!">
        </form>




        
    </body>
</html>